<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
             如果使用明文这样server=127.0.0.1;databas...,上面则设置为false。 -->
    <add key="ConnectionString" value="server=127.0.0.1;database=SK_CKAlarm;uid=sa;pwd=8482134"/>
   <add key="ConStringEncrypt2" value="false"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
             如果使用明文这样server=127.0.0.1;databas...,上面则设置为false。 -->
    <add key="ConnectionString2" value="server=172.18.3.119;database=SK_CKAlarm;uid=sa;pwd=security999"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
